<footer id="footer-body" style="margin-top: 50px; position:absolute; bottom:0;">
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <h3><a class="navbar-brand" style="font-size: 24px;font-family: 'Source Sans Pro', sans-serif;" href="#">PhoneDialer43</a></h3>
            <p class="company-name">PhoneDialer43 © 2021</p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                <p><span class="new-line-span">Московская, 15</span>Россия, Киров</p>
            </div>
            <div><i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-start"> +7 8332 228 1337</p>
            </div>
            <div><i class="fa fa-envelope footer-contacts-icon"></i>
                <p> <a href="#" target="_blank">phonedialer43@gmail.com</a></p>
            </div>
        </div>
        <div class="col-md-4 footer-about">
            <h4>About the company</h4>
            <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet. </p>
            <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
        </div>
    </div>
</footer>