<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1066">
    <div id="popup" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" style="transition: top 1s ease-out 1s;">
      <div class="toast-header">
        <i class="bi bi-cart-check-fill"></i>
        <strong class="me-auto">Корзина</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Товар добавлен в корзину!
      </div>
    </div>
  </div>