<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.html'); %>

<body>
            
            <%- include('partials/navbar.html'); %>
            <%- include('partials/popup.html'); %>
            
            <% if (!isOrder) {%>
                <h1 style="text-align: center;color: rgb(255,255,255);">Корзина продуктов</h1>
            <% } else { %>
                <h1 style="text-align: center;color: rgb(255,255,255);">Заказ от <%=orderDate%></h1>
            <% } %>
            <section class="h-100 container" style="background-color: #eee; min-width: 300px">
                <div class="cartlist">
                  <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-10" style="width: 100%; min-width: 240px; padding: 0px"> 
                        <% productlists.forEach(function(productlist) { %>
                            <div class="card mb-4" id="card-<%= productlist.Product.id%>">
                            <div class="card-body p-4">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-md-2 col-lg-2 col-xl-2" style="display: flex; justify-content: space-around">
                                <img src="<%=productlist.Product.imgUrl%>"
                                    class="img-fluid rounded-3" alt="Cotton T-shirt">
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-3">
                                <p class="lead fw-normal mb-2" style="color: black;"><%=productlist.Product.name%></p>
                                <p style="color: darkslategrey;"><span class="text-muted">Описание: </span><%=productlist.Product.description%></p>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex flex-row flex-wrap align-items-center justify-content-center">
                                <% if (!isOrder) {%>
                                    <button class="btn btn-link px-2"
                                        onclick="actionWithCart('delItem', '<%=productlist.Product.id%>')">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                <% }%>
                                    <input id="form" min="0" name="count" value="<%=productlist.productCount%>" type="number"
                                        class="form-control form-control-sm w-50" readonly style="border-radius: 12px;"/>   
                                <% if (!isOrder) { %>    
                                    <button class="btn btn-link px-2"
                                        onclick="actionWithCart('addItem', '<%=productlist.Product.id%>')">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                    <span class="product-in-stock mt-2 mb-2" style="<%= productlist.Product.inStock == 0 ? 'color: red; font-weight: 800' : '' %>">В наличии: <%=productlist.Product.inStock%> шт.</span>

                                    <% } %>
                                </div>
                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                <h3 class="mb-0" style="display: flex; justify-content: space-around; padding-top: 15px; padding-bottom: 15px"><%=productlist.Product.price%>₽</h3>
                                </div>
                                <% if (!isOrder) {%>
                                    <div class="col-md-1 col-lg-1 col-xl-1 text-end" style="display: flex; justify-content: space-around">
                                    <a onclick="actionWithCart('removeItem', '<%=productlist.Product.id%>')" class="text-danger"><i class="delete-btn fa fa-trash fa-lg" style="cursor: pointer;"></i></a>
                                    </div>
                                <% } %>
                            </div>
                            </div>
                            </div>
                        <% })%>
              
                        <% if (!isOrder) {%>
                          <div class="card mb-4 visually-hidden">
                            <div class="card-body p-4 d-flex flex-row" style="flex-wrap: wrap;justify-content: space-around;align-items: center;">
                              <div class="form-outline flex-fill" style="display: flex;min-width: 190px;flex-wrap: nowrap;justify-content: space-around;flex-direction: row;align-items: center;">
                                <label class="form-label" for="form1" style="min-width: 90px;">Промо-код</label>
                                <input type="text" id="form1" class="form-control form-control-lg" />
                              </div>
                              <button type="button" class="btn btn-outline-warning btn-lg ms-3" style="margin: 1rem">Применить</button>
                            </div>
                          </div>
                  
                          <div class="card">
                            <form id="cartPurchase" method="POST" action="/purchase" class="needs-validation">
                                <div class="card-body" style="display: flex">
                                    <label class="form-label w-25 d-flex align-items-center">Ваше ФИО</label>
                                    <input type="text" min="0" name="name" placeholder="ФИО" class="form-control" required>
                                    <div class="invalid-feedback">
                                        Пожалуйста введите свое ФИО
                                    </div>
                                </div>
                                <div class="card-body" style="display: flex">
                                    <label class="form-label w-25 d-flex align-items-center">Ваш адрес</label>
                                    <input type="text" min="0" name="address" placeholder="Ваш адрес" class="form-control" required>
                                    <div class="invalid-feedback">
                                        Пожалуйста введите свой адрес
                                    </div>
                                </div>
                                <div class="card-body" style="display: flex">
                                    <label class="form-label w-25 d-flex align-items-center">Почтовый индекс</label>
                                    <input type="number" min="0" name="postCode" placeholder="Почтовый индекс" class="form-control" required>
                                    <div class="invalid-feedback">
                                        Пожалуйста введите свой почтовый индекс
                                    </div>
                                </div>
                                <div class="card-body" style="display: flex">
                                    <button type="submit" class="btn btn-warning btn-block btn-lg">Оплатить</button>
                                    <p class="product-price" id="totalprice" style="color: black; font-size: x-large; margin: 15px">Всего: <%=totalprice%>₽</p>
                                </div>
                            </form>
                          </div>
                        <% } else {%>
                            <div class="card">
                                <div class="card-body" style="display: flex">
                                    <p class="product-price" style="color: black; font-size: larger; margin: 15px">Всего: <%=totalprice%>₽</p>
                                </div>
                            </div>
                        <% } %>
              
                    </div>
                  </div>
                </div>
               
              </section> 
            <%- include('partials/footer.html'); %>
        </div>

       

    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="assets/js/product-list.js"></script>
    <script src="assets/js/cart.js"></script>
</body>

</html>