<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.html'); %>

<body>
            
            <%- include('partials/navbar.html'); %>
            
            <h1 style="text-align: center;color: rgb(255,255,255);">Каталог продуктов</h1>
            
            <%- include('partials/productlist.html'); %>
            <%- include('partials/popup.html')%>
            <%- include('partials/footer.html'); %>
        </div>
    </div>
    
    

    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/cart.js"></script>
    <script src="assets/js/productlist.js"></script>
</body>

</html>