.h-100 {
    margin: 50px;
    border-radius: 12px;
}

.card {
    border-radius: 12px;
    margin: 2rem;
}

i.delete-btn.fa.fa-trash.fa-lg {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch; 
    border-radius: 8px;
}