<div id="home" class="home" style="min-height: 100vh">
    <div class="header-blue d-flex align-items-center flex-column" id="header" style="padding-bottom: 288px;">
        <nav class="navbar navbar-dark navbar-expand-lg sticker w-100" style="padding-top:30px;">
            <div class="container"><a class="navbar-brand" style="font-size:24px;" href="../index">PhoneDialer43</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav ms-auto d-flex align-items-start">
                        <li class="nav-item mt-1 mb-1">
                            <a class="nav-link active" href="/index" target="_top">Главная</a>
                        </li>
                        <li class="nav-item mt-1 mb-1">
                            <a class="nav-link active" href="/products">Каталог</a>
                        </li>
                        <li class="nav-item d-flex flex-row mt-1 mb-1" style="<%=email == '' ? '' : 'border-radius: 20px; background: #eee4;' %>">
                            <a class="nav-link active" href="/profile">Личный кабинет</a>
                            <% if (email != '') {%>
                                <a class="nav-link nav-link-addition" href="/profile"><%=email%></a>
                            <% } %>
                        </li>
                        <li class="nav-item d-flex flex-row mt-1 mb-1" style="<%=email == '' ? '' : 'border-radius: 20px; background: #eee4;' %>">
                            <a class="nav-link active" href="cart" style="width: auto;">Корзина</a>
                            <% if (email != '') {%>
                                <a class="nav-link nav-link-addition" id="cartcounter" href="/cart"><%=cart%></a>
                            <% } %>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>